.bones-cookie-banner {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 30px;
}

.bones-cookie-banner-top {
    top: 0;
}

.bones-cookie-banner-bottom {
    bottom: 0;
}

.bones-cookie-banner-wrapper {
    display: table;
    width: 100%;
}

.bones-cookie-banner-content {
    padding-right: 30px;
    width: 90%;
}

.bones-cookie-banner-content, .bones-cookie-banner-button {
    display: table-cell;
    vertical-align: middle;
}

.bones-cookie-banner-button {
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    min-width: 162px;
}